
/*FIRST SECTION*/

.solution-class .title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.solution-class {
  background-color: #2e2f42;
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.order-button {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

/*SECOND SECTION*/

.features-menu {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-class {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
}

/*THIRD SECTION*/
.team-section {
  background-color: #f4f4fd;
}

.team-menu {
  display: flex;
  gap: 24px;
}

.team-class {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  letter-spacing: 0.02em;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list-class {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-name-class {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-text-class {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.worker-container {
  padding-top: 32px;
  padding-bottom: 32px;
}

.social-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-icon-item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-link:hover,
.social-icon-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}

/*FOURTH SECTION*/
.portfolio-class {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  letter-spacing: 0.02em;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-apps {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay-text {
  transform: translateY(0%);
}

.portfolio-item:hover {
  box-shadow: 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-menu {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.apps-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-text {
  position: absolute;
  top: 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--CLOUD, #f4f4fd);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay-text:hover {
  transform: translateY(0%);
}

/*FOOTER*/
.footer-class {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}
.logo-footer {
  color: #f4f4fd;
}
.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-social-media {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-social-icon {
  fill: #f4f4fd;
}

.footer-full-container {
  display: flex;
  align-items: baseline;
}

.footer-container {
  margin-right: 120px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

/******************************************FOOTER FORM*************************************************/

.form-container {
  margin-left: 80px;
}

.form-footer-text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.input_footer {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  padding-left: 16px;
}

.input_footer::placeholder {
  color #ffffff;
}

.footer-btn {
  min-width: 165px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
}


.footer-btn:hover,
.footer-btn:focus {
  background-color: #404bbf;
}



.footer-btn-icon {
  fill: #f4f4fd;
  margin-left: 16px;
}

/*****************************************************MODAL FORM**************************************************/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity var(--timing-function), visibility var(--timing-function);

}

.modal-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 
  0px 1px 1px rgba(0, 0, 0, 0.14), 
  0px 1px 3px rgba(0, 0, 0, 0.12), 
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0; 
  cursor: pointer;
  transition: 
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.close-btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .close-btn,
.modal-close:focus .close-btn {
  fill: #ffffff
}

.modal-text {
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: var(--NAVY-BLUE, #2E2F42);
margin-bottom: 16px;
}

.modal-form-container {
  margin-bottom: 8px;

}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--LIGHT-SLATE, #8E8F99);
  display: block;
  margin-bottom: 4px;
}

.modal-icon-container {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-input:focus + .modal-icon {
  fill: #4D5AE5;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
  border-color: #4D5AE5;
}

.modal-icon:focus {
  fill: #4D5AE5;
}

.textarea-container {
  margin-bottom: 16px;
}

.textarea-class {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.textarea-class:focus {
  border-color: #4D5AE5;
}

.checkbox-container {
  margin-bottom: 24px;
}


.privacy-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--LIGHT-SLATE, #8E8F99);
}

.privacy-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4); 
  border-radius: 2px;
  transition: 
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  fill: transparent;
  justify-content: center;
  align-items: center;
}

.privacy-input:checked + .privacy-label > .privacy-span {
  background-color: var(--OCEAN, #404BBF);
  fill: #f4f4fd;
  border: none;
  }

.modal-link {
  color: var(--IRIS, #4d5ae5);
}

.modal-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--IRIS, #4D5AE5);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}