/*=========================================== SOLUTION SECTION ===========================================*/

.solution-class .title {
  color: var(--WHITE, #fff);
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}

.solution-class {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/background-hero-mobile.jpg);
  background-repeat: no-repeat;
  max-width: 320px;
  max-height: 432px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 320px) {
  .solution-class {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("/images/background-hero-mobile@2x.jpg");
  }
}

.order-button {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*================================= TABLET ===============================================*/

@media screen and (min-width: 768px) {
  .solution-class .title {
    color: var(--WHITE, #fff);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
    max-width: 496px;
  }

  .solution-class {
    max-width: 768px;
    padding: 112px 0;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("/images/background-hero-tablet.jpg");
  }
  .order-button {
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .order-button:hover,
  .order-button:focus {
    background-color: #404bbf;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .solution-class {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url ("/images/background-hero-tablet@2x.jpg");
  }
}

/*================================= TABLET ===============================================*/

/*================================= DESKTOP =============================================*/

@media screen and (min-width: 1158px) {
  .solution-class .title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center;
    color: #ffffff;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
  }

  .solution-class {
    background-color: #2e2f42;
    /* padding: 188px 0; */
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("/images/background-hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.order-button {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
  .solution-class {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("/images/background-hero@2x.jpg");
  }
}

/*================================= DESKTOP =============================================*/
/*=========================================== SOLUTION SECTION ===========================================*/

/*=========================================== FEATURES SECTION ===========================================*/
/*-------------------------------- MOBILE -------------------------*/
.icon-container {
  display: none;
}

.features-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 72px;
}

.features-class {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
  text-align: center;
}

.features-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*-------------------------------- MOBILE -------------------------*/

/*-------------------------------- TABLET -------------------------*/
@media screen and (min-width: 768px) {
  .features-menu {
    display: flex;
    flex-flow: row wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .features-class {
    align-items: flex-start;
  }

  .features-item {
    width: calc((100% - 48px) / 2);
  }
}
/*-------------------------------- TABLET -------------------------*/

/*-------------------------------- DESKTOP -------------------------*/
@media screen and (min-width: 1158px) {
  .features-menu {
    display: flex;
    flex-flow: wrap;
    gap: 24px;
  }

  .features-item {
    width: calc((100% - 72px) / 4);
  }

  .features-class {
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  .features-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
  }
}

/*-------------------------------- DESKTOP -------------------------*/

/*=========================================== FEATURES SECTION ===========================================*/

/*=========================================== FEATURES SECTION ===========================================*/
/*-------------------------------- MOBILE -------------------------*/
.team-section {
  background-color: #f4f4fd;
}

.team-class {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-menu {
  display: flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-left: 28px;
  margin-right: 28px;
}

.team-list-class {
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.worker-container {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-name-class {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-text-class {
  color: var(--SLATE, #434455);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.social-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-icon-item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}
/*-------------------------------- MOBILE -------------------------*/

/*-------------------------------- TABLET -------------------------*/
@media screen and (min-width: 768px) {
  .team-menu {
    display: flex;
    flex-flow: row wrap;
    row-gap: 64px;
    column-gap: 24px;
  }

  .features-class {
    text-align: start;
  }
}
/*-------------------------------- TABLET -------------------------*/

/*-------------------------------- DESKTOP -------------------------*/
@media screen and (min-width: 1158px) {
  .team-menu {
    display: flex;
    gap: 24px;
  }

  .team-class {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    letter-spacing: 0.02em;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
  }
  .team-list-class {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .team-name-class {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
  }
}
/*-------------------------------- DESKTOP -------------------------*/
/*=========================================== FEATURES SECTION ===========================================*/

/*=========================================== PORTFOLIO SECTION ===========================================*/
/*-------------------------------- MOBILE -------------------------*/
.portfolio-overlay {
}

.portfolio-overlay-text {
  display: none;
}

.portfolio-class {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  letter-spacing: 0.02em;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 48px;
}

.portfolio-menu {
  display: flex;
  padding-bottom: 0px;
  flex-flow: row wrap;
  align-items: flex-start;
  gap: 24px;
}

.portfolio-item {
  border: 1px solid var(--CLOUD, #f4f4fd);
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.apps-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-apps {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-img {
  width: 288px;
  height: 280px;
}
/*-------------------------------- MOBILE -------------------------*/

/*-------------------------------- TABLET -------------------------*/
@media screen and (min-width: 768px) {
  .portfolio-img {
    width: 100%;
    height: 100%;
  }

  .portfolio-menu {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
/*-------------------------------- TABLET -------------------------*/

/*-------------------------------- DESKTOP -------------------------*/
@media screen and (min-width: 1156px) {
  .portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item:hover .portfolio-overlay-text {
    transform: translateY(0%);
  }

  .portfolio-item:hover {
    box-shadow: 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .portfolio-menu {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }

  .portfolio-overlay {
    display: inline-block;
    position: relative;
    overflow: hidden;
  }

  .portfolio-overlay-text {
    display: inline-block;
    position: absolute;
    top: 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--CLOUD, #f4f4fd);
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-overlay-text:hover {
    transform: translateY(0%);
  }
}

/*-------------------------------- DESKTOP -------------------------*/
/*=========================================== PORTFOLIO SECTION ===========================================*/
